/*******************************************************
              * tabbar.html *
********************************************************/
.inner-color-tabbar{
background-color:  #9cce4d;
}
.top-color-tabbar{
 background-color: #83ba41;
}
.tabbar-active-list{
  background-color: #555559 !important;
  border-left: 5px solid #83ba41 !important;
}
