<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Design System Project</title>
    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../css/style.css" rel="stylesheet">
     <link href="../../css/components/tabbar.css" rel="stylesheet">
  </head>

  <body>


   <nav class="navbar navbar-fixed-top main-nav-bar">
      <div class="container-fluid">
        <div class="navbar-header">
        <img src="../../img/group-copy.svg" class="pull-left logo-image">
          <a class="navbar-brand " href="../../index.html">DESIGN</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="">About</a></li>
          <li><a href="#">Principles</a></li>
          <li class="navbar-active"><a href="../../guidelines.html">Guidelines</a></li>
          <li><a href="#">Team</a></li>
        </ul>
        <span class="glyphicon glyphicon-search icon-flipped pull-right"></span>
      </div>

  </nav>

  <div class="container-fluid inner-background-color inner-color-component">
    <div class="row  top-background-color top-color-component">
    <div class="row inverse-background" >
    <!--Nav section-->
      <div class="col-sm-2 p-0 ">
        <div class="row all-list-group">
        <div class="list-group sidebar-list-group">
          <a href="#" class="list-group-item list-head">
            Over view
          </a>
          <a href="../../guidelines.html" class="list-group-item ">Introduction</a>
          <a href="#" class="list-group-item">Design System Structure</a>
        </div>
        <div class="list-group sidebar-list-group">
          <a href="#" class="list-group-item list-head">
            Foundation
          </a>
          <a href="../foundation/color.html" class="list-group-item">Color</a>
          <a href="../foundation/typography.html" class="list-group-item">Typography</a>
          <a href="../foundation/grid.html" class="list-group-item">Grid</a>
          <a href="../foundation/spacing.html" class="list-group-item">Spacing</a>
          <a href="#" class="list-group-item">Graphics</a>
        </div>
        <div class="list-group sidebar-list-group">
          <a href="#" class="list-group-item list-head">
            Component
          </a>
          <a href="" class="list-group-item component-active-list">Tab Bar</a>
          <a href="#" class="list-group-item">Navigation Bar</a>
          <a href="#" class="list-group-item">Tab</a>
          <a href="progress.html" class="list-group-item">Progress</a>
          <a href="#" class="list-group-item">Profile Picture</a>
          <a href="#" class="list-group-item">Banner</a>
          <a href="#" class="list-group-item">Button</a>
          <a href="#" class="list-group-item">Loader</a>
          <a href="#" class="list-group-item">Input Field</a>
        </div>
         <div class="list-group sidebar-list-group">
          <a href="#" class="list-group-item list-head">
            Module
          </a>
          <a href="#" class="list-group-item">Goal Card</a>
          <a href="#" class="list-group-item">Milestone Card</a>
          <a href="#" class="list-group-item">Table View</a>
          <a href="#" class="list-group-item">Empty States</a>
          <a href="#" class="list-group-item">Table View</a>
          <a href="#" class="list-group-item">Alignment</a>

        </div>
          <div class="list-group sidebar-list-group">
          <a href="#" class="list-group-item list-head">
           Interaction
          </a>
          <a href="#" class="list-group-item">View Transition</a>
          <a href="#" class="list-group-item">Microinteractions</a>
        </div>
        <div class="list-group sidebar-list-group">
          <a href="#" class="list-group-item list-head">
            Copy
          </a>
          <a href="#" class="list-group-item">View Title</a>
          <a href="#" class="list-group-item">Placeholder Copy</a>
          <a href="#" class="list-group-item">Error Copy</a>

        </div>

        </div>
      </div>

      <!--second section-->


      <div class="col-sm-7 guidelines-sub-content">
      <div class="guidline-first-section">
        <p>Over View</p>
        <h4>Introduction</h4>
      </div>
      <div class="guidline-second-section">
        <h4><strong>Test Lorem Ipsum</strong> </h4>
        <p>BetterWorks mobile products are key members of BetterWorks product family. We embrace our overall product design principles and value the difference in mobile context at the same time. We expect to always deliver a killer mobile product that meets high expectation of functionality and experience for our users. When we evaluate our opportunity, problems to be solved and potential solution directions, we consider the following aspects:</p>

      </div>
    </div>

  </div>
  </div>
</div>





    <!-- Bootstrap core JavaScript -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
