/*******************************************************
              * color.html *
********************************************************/
.inner-color-color{
background-color: #fc7972;
}
.top-color-color{
 background-color: #e56f66;
}
.color-active-list{
  background-color: #555559 !important;
  border-left: 5px solid #e56f66 !important;
}
.color-content{
  margin: 25px 0;
}
.color-section{
  margin: 0 30px;
}
.gray-content-head{
  margin-top:50px;
}

/* first table content*/
.box{
  width:50px;
  height:50px;
}
.media-body p{
  margin: 0;
}
.main-color-m{
  margin-top:25px;
}
.row1 .box1{
  background-color:#63d8f4;
}
.row1 .box2{
  background-color:#5bc0de;
}
.row1 .box3{
  background-color: #59bad1;
}
.row2 .box1{
  background-color: #9cce4d;
}
.row2 .box2{
  background-color: #83ba41;
}
.row2 .box3{
  background-color: #749e39;
}
.row3 .box1{
  background-color: #feec6c;
}
.row3 .box2{
  background-color: #f4e565;
}
.row3 .box3{
  background-color:  #e1cf05;
}
.row4 .box1{
  background-color: #fc7972;
}
.row4 .box2{
  background-color: #e56f66;
}
.row4 .box3{
  background-color: #c65e5c;
}
.row5 .box1{
  background-color: #ffa329;
}
.row5 .box2{
  background-color: #f5a623;
}
.row5 .box3{
  background-color: #db8f21;
}
.row6 .box1{
  background-color: #eef8fb;
}
.row6 .box2{
  background-color: #dff3f9;
}
/*color disceription*/
.color-discription{
  margin-top:25px;
}
.color-discription p{
  padding-left: 180px;
}
.cd-row1 .f-box{
  background-color:#63d8f4;
}
.cd-row1 .s-box{
  background-color:#5bc0de;
}
.cd-row1 .t-box{
  background-color:#59bad1;
}
.cd-row2 .f-box{
  background-color:#fc7972;
}
.cd-row2 .s-box{
  background-color: #e56f66;
}
.cd-row2 .t-box{
  background-color: #c65e5c;
}
.cd-row3 .f-box{
  background-color:#9cce4d;
}
.cd-row3 .s-box{
  background-color: #83ba41;
}
.cd-row3 .t-box{
  background-color: #749e39;
}
.cd-row4 .f-box{
  background-color: #feec6c;
}
.cd-row4 .s-box{
  background-color: #f4e565;
}
.cd-row4 .t-box{
  background-color:#e1cf05;
}
.cd-row5 .f-box{
  background-color: #ffa329;
}
.cd-row5 .s-box{
  background-color: #f5a623;
}
.cd-row5 .t-box{
  background-color: #db8f21;
}
/*gray color section*/
.g-row1 .box1{
  background-color: #ffffff;
  border: solid 1px #f5f5f7;
}
.g-row1 .box2{
  background-color: #fbfbfc;
}
.g-row1 .box3{
   background-color: #f5f5f7;
}
.g-row2 .box1{
  background-color: #e6e6e8;
}
.g-row2 .box2{
  background-color: #dadadd;
}
.g-row2 .box3{
     background-color: #99999d;
}
.g-row3 .box1{
 background-color: #555559;
}
.g-row3 .box2{
background-color: #444448;
}
.g-row3 .box3{
  background-color: #333339;
}
