@font-face {
    font-family: proximanova;
    src: url(../fonts/proximanova-reg-webfont.woff);
 }
 @font-face {
    font-family: proximanova;
    src: url(../fonts/proximanova-semibold-webfont.woff);
    font-weight: bold;
}


body {
  padding-top: 50px;
  font-family:proximanova;
}

/*******************************************************
							*	index.html *
********************************************************/
/*nav bar*/
.logo-image{
	margin: 10px;
}
.main-nav-bar{
 background-color: #333339;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.navbar a{
	color:#fff !important;
}
.navbar a:hover{
	color: #99999d !important;
	background-color: #333339 !important;
}
.navbar-brand{
	margin-left: 5px !important;
}
.icon-flipped {
	padding-top: 15px;
	font-size:18px;
	color:#fff;
transform: scaleX(-1);
-moz-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
}

/*first block*/
.jumbotron{
	background-color: #333339;
	color:#fff;
	height:455px;
	overflow:none;
	transform: matrix(1,-0.03,0,1,0,-30);
}
.jumbotron-content-inversese{
	transform: matrix(1,0.03,0,1,0,0);
}
.jumbotron h4{
	margin-top:60px;

}
.jumbotron p{
	font-size:14px;
	margin-top:35px;
}

.jumbotron button{
	width: 185px;
  margin-top: 30px;
}
.image-container{
	margin-top:100px;
	overflow:hidden;
	transform: translate(0px, 70px);
}
.imag-rocket{
padding-left: 160px;

}
.imag-air{
	display:block;
}
.round-image-block{
 transform: translate(-50px, 0px);
}
.first-round-image{
	 margin-top: 50px;
	  width: 11px;
  	height: 11px;
}
.second-round-image{
	margin-left: 30px;
  width: 8px;
  height: 8px;
}


/*second block*/
.empathy-cards{
	    padding: 50px 0 50px 135px;
}
.empathy-cards h4{
	margin-bottom:30px;
}
.empathy-cards p{
	margin-bottom:20px;
}
.empathy-img-one{
	 width: 32px;
  height: 32px;
  display:block;
  float: right;
}
.empathy-img-two{
	position: relative;
	width: 329px;
  height: 218px;
  margin-top: 70px;
  top:45px;
}

/* theird block */
.lite-cream-color-background{
	background-color:  #fbfbfc;
}
.second-cream-color-background{
	background-color: #f5f5f7;
	transform: matrix(1,0.03,0,1,0,30);
	height:400px;
}
.all-the-content{
	transform: matrix(1,-0.03,0,1,0,0);
}
.theird-card-image{
	padding: 100px 0 0 135px;
}
.theird-card-image img{
	border-radius: 50%;
	width: 150px;
  height: 150px;
}
.product-designer-class{
	padding:70px 0;
}
.product-designer-class h4{
	margin : 35px 0 0 0 !important;
}
.product-designer-class p{
	margin-bottom:20px;
}

/* footer */
footer{
	background-color: #333339;
	height:300px;
}
.footer-background-slide{
	color:#fff;
	height:250px;
	transform: matrix(1,0.03,0,1,0,31);
  box-shadow: 0px -3px 3px 0 rgba(0, 0, 0, .5);

}
.footer-content{
	transform: matrix(1,-0.03,0,1,0,0);
	margin: 150px 0 0 100px;
}
.footer-logo-img{
	margin-top:40px;
}
.footer-first-round-image{
	margin-left:25px;
	margin-top: 45px;
	 width: 11px;
  height: 11px;
}
.footer-second-round-image{
	margin-left: 30px;
  width: 8px;
  height: 8px;
}
.footer-text-part{
	text-align: center;
	margin-top: 40px;
}

/*******************************************************
							*	guildelines.html *
********************************************************/

/* make sidebar nav vertical */
.p-0{
	padding:0;
}
.all-list-group{
	margin:0px;
	height: 2752px;
  background-color: #333339;
}

.active a{
	color:#5bc0de !important;
}
.sidebar-list-group{
	margin-bottom: 0px !important;
	border-radius:0px;
	border-bottom: 1px solid #777;
}
.sidebar-list-group a{
	background-color:#333339;
	border:none;
	border-radius:0px !important;
	 color: #fbfbfc;
}

.list-head{
	/* cursor:none; */
	color: #99999d !important;
}
.list-group a:hover{
	background-color:#555559 !important;
	color:#fff;
}

.active-list{
	background-color: #555559 !important;
	border-left: 5px solid #5bc0de !important;
}

/* second section  */
.top-background-color{
  height: 130px;
  transform: matrix(1, -.05, 0, 1, 0, -39);
}
.top-color-guidlines{
		background-color: #5bc0de;
}
.inverse-background{
	transform: matrix(1, 0.05, 0, 1, 15, 41);

}
.inner-background-color{
	height:75px;
}
.inner-color-guidlines{
	background-color: #63d8f4;
}
.guidelines-sub-content{
margin:25px 0 0 30px;
}

.guidline-first-section{
	margin: 5px 0 65px 0;
}
.guidline-second-section h4{
	margin-bottom:30px;
}

.guidline-second-section p{
	margin-bottom:30px;
}

/*******************************************************
							*	color.html *
********************************************************/
.inner-color-color{
background-color: #fc7972;
}
.top-color-color{
 background-color: #e56f66;
}
.color-active-list{
	background-color: #555559 !important;
	border-left: 5px solid #e56f66 !important;
}
.color-content{
	margin: 25px 0;
}
.color-section{
	margin: 0 30px;
}
.gray-content-head{
	margin-top:50px;
}

/* first table content*/
.box{
	width:50px;
	height:50px;
}
.media-body p{
	margin: 0;
}
.main-color-m{
	margin-top:25px;
}
.row1 .box1{
	background-color:#63d8f4;
}
.row1 .box2{
	background-color:#5bc0de;
}
.row1 .box3{
	background-color: #59bad1;
}
.row2 .box1{
	background-color: #9cce4d;
}
.row2 .box2{
	background-color: #83ba41;
}
.row2 .box3{
	background-color: #749e39;
}
.row3 .box1{
	background-color: #feec6c;
}
.row3 .box2{
	background-color: #f4e565;
}
.row3 .box3{
	background-color:  #e1cf05;
}
.row4 .box1{
	background-color: #fc7972;
}
.row4 .box2{
	background-color: #e56f66;
}
.row4 .box3{
	background-color: #c65e5c;
}
.row5 .box1{
	background-color: #ffa329;
}
.row5 .box2{
	background-color: #f5a623;
}
.row5 .box3{
	background-color: #db8f21;
}
.row6 .box1{
	background-color: #eef8fb;
}
.row6 .box2{
	background-color: #dff3f9;
}
/*color disceription*/
.color-discription{
	margin-top:25px;
}
.color-discription p{
	padding-left: 180px;
}
.cd-row1 .f-box{
	background-color:#63d8f4;
}
.cd-row1 .s-box{
	background-color:#5bc0de;
}
.cd-row1 .t-box{
	background-color:#59bad1;
}
.cd-row2 .f-box{
	background-color:#fc7972;
}
.cd-row2 .s-box{
	background-color: #e56f66;
}
.cd-row2 .t-box{
	background-color: #c65e5c;
}
.cd-row3 .f-box{
	background-color:#9cce4d;
}
.cd-row3 .s-box{
	background-color: #83ba41;
}
.cd-row3 .t-box{
	background-color: #749e39;
}
.cd-row4 .f-box{
	background-color: #feec6c;
}
.cd-row4 .s-box{
	background-color: #f4e565;
}
.cd-row4 .t-box{
	background-color:#e1cf05;
}
.cd-row5 .f-box{
	background-color: #ffa329;
}
.cd-row5 .s-box{
	background-color: #f5a623;
}
.cd-row5 .t-box{
	background-color: #db8f21;
}


/*******************************************************
							*	media queries *
********************************************************/


@media(max-width : 1200px){

}


@media(max-width : 991px){

}


@media(min-width : 768px) and (max-width : 990px){

}


@media(max-width : 768px){

}


@media(max-width : 500px){
	.main-nav-bar{
		display:none;
	}
	.empathy-cards {
    padding: 20px 0 20px 15px;
	}
	.image-container {
    margin-top: 10px;
    height:150px;
    width:100%;
  }




















