@import 'base.less';
@import 'colors.less';
@import 'nav.less';
@import 'tooltip.less';
@import 'swatches.less';

body {
  padding: 50px 0 20px 300px;
  margin : 0;
}

main {
  display: block;
  margin: 40px;
}
