* {
    box-sizing: border-box;
}

html, input, textarea, select, option {
  .bw-font;
  .text-normal;
  .text-base;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  margin     : 0 0 10px;

  .hint {
    font-size: 60%;
    margin   : 5px 0;
  }
}
h1 {
  font-size: 1.5em;
  line-height: 1.2;
}
h2 {
  font-size: 1.25em;
}

hr {
  background: #bbb;
  border    : none;
  height    : 1px;
  margin    : 10px 20px;
}

section {
  margin: 40px 0;

  section {
    margin: 30px 10px;
  }
}

.hint {
  color: #888;
}

.fade-out-bottom::after {
  content : '';
  display : block;
  position: relative;
  top     : 50%;
  height  : 50%;
  left    : 0;
  right   : 0;
  margin  : 1px -1px;

  background: linear-gradient(to bottom, transparent, #fff);
}

.specimen {
  background   : #efefef;
  border-radius: 4px;
  padding      : 10px;
  margin       : 10px;
}
