* {
    box-sizing: border-box;
}

html, input, textarea, select, option {
  font-family: sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  margin     : 0 0 10px;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }

hr {
  background: #bbb;
  border    : none;
  height    : 1px;
  margin    : 10px 20px;
}

section {
  margin: 40px 0;

  section {
    margin: 20px 10px;
  }
}

hint {
  color: #888;
}
