header {
  position   : fixed;
  top        : 0;
  left       : 0;
  right      : 0;
  height     : 50px;
  line-height: 20px;
  padding    : 15px 20px;
  background : #444;
  color      : #fff;
  z-index    : 1030;

  .logo {
    margin-right: 20px;

    img {
      height: 100%;
    }
  }
}

.sidebar {
  position  : fixed;
  top       : 50px;
  left      : 0;
  bottom    : 0;
  width     : 300px;
  background: #eee;
  padding   : 20px 0;

  a {
    position       : static;
    width          : auto;
    display        : block;
    padding        : 15px 40px;
    text-decoration: none;
    color          : #000;
    transition     : 0.2s background;
  }

  a:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  a.active {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.05);
  }
}
