.swatch {
  display       : inline-block;
  margin        : 2px;
  padding       : 0;
  width         : 36px;
  height        : 36px;
  line-height   : 36px;
  text-align    : center;
  color         : white;
  position      : relative;
  vertical-align: middle;

  &.dots::before {
    display      : block;
    position     : absolute;
    content      : '';
    top          : 4px;
    left         : 4px;
    background   : white;
    border-radius: 50%;
    width        : 6px;
    height       : 6px;
  }
  &.dots::after {
    display      : block;
    position     : absolute;
    content      : '';
    bottom       : 4px;
    right        : 4px;
    background   : black;
    border-radius: 50%;
    width        : 6px;
    height       : 6px;
  }

  &.outline {
    border: 1px solid rgba(0,0,0,0.2);
  }


  &.border-color {
    background: @border-color;
  }
  &.page-color {
    background: @page-color;
  }

  &.black {
    background: #000;
  }
  &.white {
    background: #fff;
  }

  &.bw-blue {
    background: @bw-blue;
  }

  .pal-loop(@i: 1) when (@i <= length(@bw-palette)) {
    &.palette-@{i} {
      background: extract(@bw-palette, @i);
    }

    .pal-loop(@i + 1);
  } .pal-loop();
}

.bw-palette-swatches .swatch:nth-of-type(4n) {
  margin-right: 1em;
}

.swatches {
  display            : inline-block;
  margin             : 2px;
  padding            : 4px;
  border             : 1px solid @border-color;
  border-radius      : 4px;
  border-bottom-width: 3px;
  background         : white;

  .swatch {
    margin: 0;
    float : left;
  }

  label {
    display      : block;
    margin-bottom: 5px;
  }
}
